{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <div class="m4 jumbotron">
        <div class="lead">
            Hello, {{ app.user.username }}
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-info">Comment</button>
                <button class="btn btn-info">Delete</button>
            {% endif %}
            {% if 'ROLE_EDITOR' in app.user.roles %}
                <button class="btn btn-info">Comment</button>
            {% endif %}
        </div>
        {% if app.user.firstName %}
                <h1 class="h1">{{ app.user.firstName }}  - very cool first name!!</h1>

        {% endif %}

        {% if app.user.website %}
                <div class="list-group-item">
                    <a class="h2" href="{{ app.user.website }}" class="btn btn-link">{{ app.user.website }}
                        <span class="badge badge-info ml-5">Website URL</span>
                    </a>
                </div>
        {% endif %}

        {% if app.user.linkedin %}
                <div class="list-group-item">
                    <a class="h2"  href="{{ app.user.linkedin }}" class="btn btn-link">{{ app.user.linkedin }}
                        <span class="badge badge-info ml-5">Linkedin profile URL</span>
                    </a>
                </div>
        {% endif %}


    </div>


    <div class="jumbotron">
        <a class="btn btn-info btn-lg" href="{{ path('home') }}">My home</a>
    </div>
{% endblock %}
