{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div id="root">Loading...</div>
<div>
    Versija <b id="version">...</b>
</div>


    <div class="container">
        <ul class="list-group">
            <li class="list-group-item col-md-6">
                <input id="name" type="text" class="form-control" placeholder="Studentas" style="width: 80%; display: inline-block">
                <span id="validation-result" class="ml-3" data-path="{{ path('validatePerson', {'element': 'name'}) }}"></span>
            </li>

            <li class="list-group-item col-md-6">
                <input id="team" type="text" class="form-control" placeholder="Komanda" style="width: 80%; display: inline-block">
                <span id="teamValidation" class="ml-3" data-path="{{ path('validateTeam', {'element': 'team'}) }}"></span>
            </li>



        </ul>
    </div>




{% endblock %}

{% block javascripts %}
    <script>
        var needVersion = true;
        var needReact = true;
    </script>
    <script src="{{ asset('build/js/validation.js') }}"></script>
    <script src="{{ asset('build/js/team.js') }}"></script>
    {{ parent() }}
{% endblock %}
