<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "My project" }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
                                         <!-- Keičiasi prikausomai nuo aplinkos -->
        {% endblock %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
        {% block canonical_meta %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}

        {% block navigation %}
        <a href="{{ path('studentas') }}">Studetų puslapis</a>
        <a href="{{ path('kompas') }}">Kompas</a>
        <a href="{{ path('home') }}">Pagrindinis</a>
        {% endblock %}
    </body>
</html>
